body {
    background-color: blue;
}

.App {
    background-color: red;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}

#to-do-form input {
    background-color: white;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
}

#to-do-form input::placeholder {
    color: black;
}

#to-do-form input:focus {
    outline: none;
}

#to-do-form button {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: darkgrey;
    cursor: pointer;
    font-weight: bolder;
    color: black;
}